@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



.landingBackground {
    display: flex;
    width: 100%;
    /* background: linear-gradient(300deg,#6acce1,#3688c8,#162444);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite; */
    background: linear-gradient(300deg,darkviolet,#3688c8,#162444);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }

  .buildBoldText {
    font-weight: bold;
    color: #162444;
  }

  .buildBusinessText {
    color: white;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }